<div class="container">
  <div class="row">
    <div class="col-md-6 center-block no-float">
    	<h1>Feed</h1>
    	<ul class="list-group">
				<%= render_activities(@news) %>
			</ul>
    </div>
  </div>
</div>
