<div class="container">
  <div class="row">
    <div class="col-md-5 center-block no-float">
    	<h1>Crear post <small><%= link_to 'regresar', posts_path %></small></h1>
			<%= render 'form' %>
	</div>
  </div>
</div>


